* {
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
}
nav {
  height: 50px;
  background: #faeee7;
  color: #fff;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#logo {
  display: flex;
  margin-left: 2%;
  text-decoration: none;
}
#logo h1 {
  font-size: 2.3rem;

  color: #eea2d1;
}
#logo img {
  width: 16%;
}

.nav-bar {
  list-style: none;
  display: flex;
  margin-right: 2%;
}
.nav-item {
  padding: 10px;
}
.nav-link {
  text-decoration: none;
  padding: 10px 20px;
  background:#9be3de;
  border-radius: 20px;
  width: 90px;
  color: #fff;
  font-size: 1.2rem;
}
.nav-link:hover {
  background: #5eb7b7;
}
section h2 {
    background: #9be3de;
    color: #fff;
    text-align: center;
    padding: 2vh 0;
    letter-spacing: 2px;
}

@media only screen and (max-width: 900px) {
  nav {
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
  }
  .nav-bar {
    margin: 0;
  }
  .nav-item {
    padding: 5px;
  }
}